/*------------------------------------*\
  #VARIABLES

  Use this file to override default
  Skeleton and Underskeleton
  variables or add your own.
\*------------------------------------*/

// COLORS
$light-grey:            #e1e1e1;
$dark-grey:             #222;
$primary-color:         #4a4a4a;
$secondary-color:       #9b9b9b;

$success-color:         #00b159;
$error-color:           #d11141;
$alert-color:           #ffc425;
$info-color:            #00aedb;

$font-color:            $dark-grey;
$heading-font-color:    $font-color;
$link-color:            $font-color;
$border-color:          $dark-grey;

// TYPOGRAPHY
$font-size:             1.7rem;
$font-size-small:       1.4rem;
$font-weight:           normal;
$font-line-height:      1.6;
$font-family:           sans-serif;
$heading-font-family:   sans-serif;
$heading-font-weight:   normal;
$h1-font-size:          3rem;
$h2-font-size:          2.8rem;
$h3-font-size:          2.5rem;
$h4-font-size:          2.25rem;
$h5-font-size:          2rem;
$h6-font-size:          1.8rem;
$h1-font-size-large-screen: $h1-font-size;
$h2-font-size-large-screen: $h2-font-size;
$h3-font-size-large-screen: $h3-font-size;
$h4-font-size-large-screen: $h4-font-size;
$h5-font-size-large-screen: $h5-font-size;
$h6-font-size-large-screen: $h6-font-size;

// BUTTONS
$button-font-size:      $font-size-small;
$button-font-weight:    normal;
$button-text-transform: uppercase;

// BREAKPOINTS
$bp-larger-than-mobile    : "min-width: 400px";
$bp-larger-than-phablet   : "min-width: 550px";
$bp-larger-than-tablet    : "min-width: 750px";
$bp-larger-than-desktop   : "min-width: 1000px";
$bp-larger-than-desktophd : "min-width: 1200px";

// GRID
$container-width: 96rem;
$container-width-larger-than-mobile: 80%;
$container-width-larger-than-phablet: 80%;
$total-columns: 12;
$column-width: 100 / $total-columns; // calculates column's width based on number of columns
$column-margin: 4%; // space between columns
$column-starts-at-breakpoint: $bp-larger-than-phablet;

// MISC
$global-radius: .4rem;
$global-spacing: 3rem;
$global-spacing-big: 6rem;
$global-animation-duration: .3s;
$global-animation-easing: ease;

// MENU
$menu-breakpoint:       $bp-larger-than-phablet; // breakpoint to stop showing hamburger menu
$menu-font-size:        1.1rem;
$menu-font-weight:      600;
$menu-letter-spacing:   .2rem;
$menu-bg-color:         #fff;
$menu-border:           $border-color solid 1px;
$menu-dropdown-shadow:  0 3px 3px rgba(0, 0, 0, 0.2);
$menu-item-padding:     .5rem;
$menu-subitem-width:    20rem;
$menu-subitem-indent:   2rem;
$menu-submenu-top:      $menu-item-padding + 2.4rem;



/*------------------------------------*\
  #CUSTOM VARIABLES

  Create your own variables here
\*------------------------------------*/
// $my-custom-variable:    'my-value';


