/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
@import "theme/variables";




/*------------------------------------*\
  #COLORS
\*------------------------------------*/

/* Default text color */



/* Headings */
h1, h2, h3, h4, h5, h6 { color: $primary-color; }


/* Links */
a {
  color: red;

  &:hover {
    color: violet;
  }
}


/* Buttons */
.button,
button,
input[type=submit],
input[type=reset],
input[type=button] {
  color: lime;
  background: #333;
  border-color: lime;

  &:hover {
    color: fuchsia;
  }
}


