/*------------------------------------*\
  #EDITOR STYLES
  
  Imports styles to display content
  in the editor as it will look on
  the front-end.
\*------------------------------------*/

/*------------------------------------*\
  #IMPORT BASE FILES

  Import theme variables before Skeleton
  and Underskeleton to override them.
\*------------------------------------*/
@import "variables";
@import "base-skeleton";
@import "base-underskeleton";



/*------------------------------------*\
  #IMPORT THEME STYLES
\*------------------------------------*/
@import "theme/mixins/mixins";
@import "theme/modifiers";
@import "theme/zindex";

@import "theme/content-area";
@import "theme/forms";
@import "theme/buttons";
@import "theme/links";
@import "theme/typography";
@import "theme/posts";



/*------------------------------------*\
  #EDITOR ONLY STYLES
\*------------------------------------*/
#tinymce {
  margin: 2rem;
}

.row {
  border: dotted .1rem #0073aa;
}

.column,
.columns {
  border: dashed .2rem #ddd;
}

.container {
  border: dotted .1rem #ff0000;
}
