// == SITE STYLES

// == Mixins
@mixin section-paddings() {
  padding-top: 9rem;
  padding-bottom: 7rem;
}
// !== Mixins

img {
  max-width: 100%;
}

// == Text light color on dark backgrounds
.light-text {
  color: #fff;
  a {
    color: inherit;
  }
}
// !== Text light color on dark backgrounds

.site-header {
  margin-top: 6rem;
  text-align: center;
}

.button.download {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  height: auto;
}

.github-repository {
  display: block;
}

section.value-props {
  @include section-paddings();

  .value-prop {
    i {
      display: block;
      text-align: center;
      margin-bottom: 2.5rem;
    }
  }
}

section.about {
  background-color: $light-grey;

  @include section-paddings();
}

section.dev-features {
  @include section-paddings();
}

section.footer-cta {
  text-align: center;
  background-color: $primary-color;
  
  @include section-paddings();

  .button.download {
    color: #fff;
    border-color: #fff;

    &:hover,
    &:focus,
    &:active {
      color: $light-grey;
      border-color: $light-grey;
    }

  }
}

section.footer-info {
  text-align: center;
  background-color: $dark-grey;

  @include section-paddings();
}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {

  .site-header {
    margin-top: 18rem;
  }

}