/* == EDITOR STYLES ==
*
* IMPORTANT: import only partial files that affects how content
* is shown in the editor.
*/


/*------------------------------------*\
  #IMPORT THEME STYLES
\*------------------------------------*/
@import
  "mixins/mixins",
  "modifiers",
  "zindex",
  
  "content-area",
  "forms",
  "buttons",
  "links",
  "typography",
  "navigation",
  "posts"
  ;



/*------------------------------------*\
  #EDITOR ONLY STYLES
\*------------------------------------*/
#tinymce {
  margin: 2rem;
}

.row {
  border: dotted .1rem #0073aa;
}

.column,
.columns {
  border: dashed .2rem #ddd;
}

.container {
  border: dotted .1rem #ff0000;
}
