/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
.site-footer__content {
  padding-top: $global-spacing;
  padding-bottom: $global-spacing;

  &:not(.container) {
    @include lateral-paddings();

    @media (#{$column-starts-at-breakpoint}) {
      @include lateral-paddings('both', 3rem);
    }
  }
}


.site-info {
  text-align: center;
}
