/* == HEADER STYLES == */

// == Site header
.site-header {
  margin: 1.5rem auto 5rem;
}

.site-header__content {
  border-bottom: solid 1px $border-color;

  &:not(.container) {
    @include lateral-paddings();

    @media (#{$column-starts-at-breakpoint}) {
      @include lateral-paddings(3rem);
    }
  }
}

.custom-header-image {
  display: block;
  text-align: center;
  width: 100%;
}
// !== Site header

// == Site branding
.site-branding {
  float: left;
  max-width: 85%;

  @media (#{$column-starts-at-breakpoint}) {
    max-width: 100%;
  }

  .custom-logo-link {
    float: left;
    margin-right: 2rem;
  }

  .site-title {
    display: inline-block;
    font-size: 3rem;
    margin: 1rem 0 0 0;
    color: $primary-color;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .site-description {
    margin: 0 0 1rem 0;
  }
}
// !== Site branding