/*------------------------------------*\
  #LINKS
\*------------------------------------*/

a {
  text-decoration: none;
}





.read-more {
  padding: .2rem .5rem;

  border-radius: $global-radius;
  background-color: $light-grey;

  font-size: 80%;
  text-transform: uppercase;
  white-space: nowrap;
}
