/*------------------------------------*\
  #MODIFIERS
  Some modifiers are defined in the file
  /inc/customizer-colors.php if file exists.
\*------------------------------------*/



/*------------------------------------*\
  #SECTION MODIFIERS
\*------------------------------------*/

.vertical-paddings {
  @include vertical-paddings();
}

.vertical-padding-top {
  @include vertical-paddings('top');
}

.vertical-padding-bottom {
  @include vertical-paddings('bottom');
}

.vertical-margin {
  @include vertical-margins();
}

.vertical-margin-top {
  @include vertical-margins('top');
}

.vertical-margin-bottom {
  @include vertical-margins('bottom');
}





/*------------------------------------*\
  #BACKGROUND
\*------------------------------------*/

.full-background-image {
  background-size: cover;
  background-position: center;
}

.light-grey-background {
  background-color: $light-grey;
}

.dark-grey-background {
  background-color: $dark-grey;
}

.primary-background {
  background-color: $primary-color;
}

.secondary-background {
  background-color: $secondary-color;
}

.tertiary-background {
  background-color: $tertiary-color;
}

.block-spacing {
  @include vertical-paddings();
  @include lateral-paddings();
}




/*------------------------------------*\
  #TEXT MODIFIERS
\*------------------------------------*/

.text-two-columns,
.text-three-columns,
.text-four-columns {
  column-gap: 2rem;
}

.text-two-columns {
  // COLUMNS LAYOUT
  @media (#{$column-starts-at-breakpoint}) {
    column-count: 2;
  }
}

.text-three-columns {
  // COLUMNS LAYOUT
  @media (#{$column-starts-at-breakpoint}) {
    column-count: 3;
  }
}

.text-four-columns {
  // COLUMNS LAYOUT
  @media (#{$column-starts-at-breakpoint}) {
    column-count: 4;
  }
}



/*------------------------------------*\
  #BUTTON MODIFIERS
\*------------------------------------*/

.button-medium {
  max-width: 100%;
  width: 25rem;
  font-size: 110%;

  @include lateral-paddings();
}

.button-large {
  max-width: 100%;
  width: 35rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 130%;
}
