/* == TYPOGRAPHY STYLES == */

// HEADING STYLES
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  color: $heading-color;

  a {
    color: inherit;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: disc inside;
}

.post {
  margin-bottom: 2.5rem;
}

.entry-header {
  margin-bottom: 2.5rem;
}

.entry-title {
  margin-bottom: 0;
}
