/* == VARIABLES ==
Use this file to override default Skeleton and Underskeleton
variables or add your own
*/


/*------------------------------------*\
  #VARIABLES
  Some variables are kept for Skeleton
  to work and are set at the WordPress
  Customizer settings files, look at
  each section for the filename.
\*------------------------------------*/

// COLORS (more in /inc/customizer-colors.php)
$light-grey:            #e1e1e1;
$dark-grey:             #333;
$primary-color:         #d72d5c;
$secondary-color:       #155d4f;
$tertiary-color:        #f4da7a;

$border-color:          #bbb;
$font-color:            #222;
$link-color:            $secondary-color;

// TYPOGRAPHY (more in _typography.scss)
$font-family:           sans-serif;
$heading-font-family:   sans-serif;
$h1-font-size:          3rem;
$h2-font-size:          2.8rem;
$h3-font-size:          2.5rem;
$h4-font-size:          2.25rem;
$h5-font-size:          2rem;
$h6-font-size:          1.8rem;
$h1-font-size-large-screen: $h1-font-size;
$h2-font-size-large-screen: $h2-font-size;
$h3-font-size-large-screen: $h3-font-size;
$h4-font-size-large-screen: $h4-font-size;
$h5-font-size-large-screen: $h5-font-size;
$h6-font-size-large-screen: $h6-font-size;

// BREAKPOINTS
$bp-larger-than-mobile    : "min-width: 400px";
$bp-larger-than-phablet   : "min-width: 550px";
$bp-larger-than-tablet    : "min-width: 750px";
$bp-larger-than-desktop   : "min-width: 1000px";
$bp-larger-than-desktophd : "min-width: 1200px";

// GRID
$container-width: 960px;
$container-width-larger-than-mobile: 85%;
$container-width-larger-than-phablet: 80%;
$total-columns: 12;
$column-width: 100 / $total-columns; // calculates individual column width based off of # of columns
$column-margin: 4%; // space between columns
$column-starts-at-breakpoint: $bp-larger-than-phablet;

// MISC
$global-radius: 4px;
$global-padding: 2rem;

// MENU (more in _menu.scss)
$menu-breakpoint:       $bp-larger-than-phablet; // breakpoint to stop showing hamburger menu
$menu-font-size:        1.1rem;
$menu-font-weight:      600;
$menu-letter-spacing:   .2rem;
$menu-bg-color:         #fff;
$menu-border:           $border-color solid 1px;
$menu-dropdown-shadow:  0 3px 3px rgba(0, 0, 0, 0.2);
$menu-item-padding:     .5rem;
$menu-subitem-width:    20rem;
$menu-subitem-indent:   2rem;
$menu-submenu-top:      $menu-item-padding + 2.4rem;


/*------------------------------------*\
  #CUSTOM VARIABLES
\*------------------------------------*/
// Create your own variables here
// $my-custom-variable:    'my-value';
