/* == VARIABLES ==
Use this file to override default Skeleton and Underskeleton
variables or add your own
*/


/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

$primary-color:         #d72d5c; // Raspberry
$secondary-color:       #155d4f; // Evergreen
$tertiary-color:        #264a5c;
$link-color:            $secondary-color;
$headings-color:        $primary-color;

// Typography
$font-family:           sans-serif;
$heading-font-family:   sans-serif;






/*------------------------------------*\
  #CUSTOM VARIABLES
\*------------------------------------*/
// Create your own variables here
// $my-custom-variable:    'my-value';
