/* == VARIABLES ==
Use this file to override default Skeleton and Underskeleton
variables or add your own
*/

// == Override Skeleton Variables
// Add Skeleton variables here to override its values
// Uncomment the lines below to change default colors

$primary-color:         #d72d5c; // Raspberry
$secondary-color:       #155d4f; // Evergreen
$link-color:            $secondary-color;

// Typography
$font-family:           sans-serif !default;
$heading-font-family:   sans-serif !default;

// !== Override Skeleton Variables

// == Add your own variables

// Uncomment the lines below to create new variables for
// $tertiary-color and $headings-color. 

$tertiary-color:        #264a5c;
$headings-color:        $primary-color;

// == Add your own variables