<footer class="site-footer">

  <section class="footer-cta">
    <div class="container">

    <a class="button cta" href="https://github.com/diegoversiani/underskeleton/archive/{{ site.source_version }}.zip">Download {{ site.source_version }}</a>
    <a href="http://github.com/diegoversiani/underskeleton" class="github-repository">... or get it on github <i class="fa fa-github"></i></a>

    </div>
  </section>

  <section class="footer-info">
    <div class="container">

    <p>Underskeleton is brought to you by <a href="http://diegoversiani.me">Diego Versiani</a>.</p>

    </div>
  </section>

</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58664042-8', 'auto');
  ga('send', 'pageview');

</script>