<header id="masthead" class="container">
  <div class="site-branding">
      <h1 class="site-title"><a href="/" rel="home">Underskeleton</a></h1>
  </div>
  <nav id="site-navigation" class="main-navigation" role="navigation">
      <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
        <span class="bars"></span>
        <span class="bars"></span>
        <span class="bars"></span>
      </button>
      <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
        <li id="menu-item" class="menu-item"><a href="/">Back to homepage</a></li>
      </ul>
  </nav>
</header>


