/* == UNDERSKELETON ELEMENTS DEFAULT ==
This file contains underskeleton default element styles
*/

img,
figure {
  max-width: 100%;
  height: auto;
}

figure.alignleft,
figure.alignright,
figure.aligncenter {
  margin-bottom: 2.5rem;
}

figcaption {
  font-size: 90%;
}

input,
textarea,
select {
  max-width: 100%;
}