/* == UNDERSKELETON ELEMENTS DEFAULT ==
This file contains underskeleton default element styles
*/

img,
figure {
  margin: 0;
  max-width: 100%;
  height: auto;
}

figure {
  margin-bottom: 1.5rem;
}

figcaption {
  font-size: 90%;
}