/* == UNDERSKELETON ELEMENTS STYLES ==
This file contains elements default styles for underskeleton
*/

img,
figure {
  max-width: 100%;
  height: auto;
}

figure.alignleft,
figure.alignright,
figure.aligncenter {
  margin-bottom: 2.5rem;
}

input,
textarea,
select {
  max-width: 100%;
}