/* == NAVIGATION MODULE ==
* _s styles for navigation.
*/

// == Posts and Comments navigation
.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5rem;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
// !== Posts and Comments navigation
