/* == NAVIGATION MODULE ==
* _s styles for navigation.
*/

// == Main Menu
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;

  &.toggled ul {
    display: block;
  }

  a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: $menu-item-padding;
  }

  ul {
    display: none;
    margin: 0;
    list-style: none;
    background-color: $menu-bg-color;

    li {
      border: $menu-border;
      border-top: 0;
      margin-bottom: 0;

      &:first-child {
        border-top: $menu-border;
        border-top-left-radius: $global-radius;
        border-top-right-radius: $global-radius;
      }

      &:last-child {
        border-bottom-left-radius: $global-radius;
        border-bottom-right-radius: $global-radius;
      }

      ul {
      margin: 0;

        li {
          border-left: 0;
          border-right: 0;

          &:first-child {
            border-radius: 0;
          }

          &:last-child {
            border-bottom: 0;
          }

          a {
            padding-left: $menu-subitem-indent;
          }
        }
      }
    }
  }
}

// Disable mobile menu button
@media (#{$column-starts-at-breakpoint}) {
  
  .menu-toggle {
    display: none;
  }

  .main-navigation {
    a {
      width: auto;
    }

    ul {
      display: block;

      li {
        border: 0;
        float: left;
        position: relative;

        &:first-child {
          border-top: 0;
        }

        // == Dropdown Menu on Hover
        &:hover,
        &:focus,
        &.focus {
          > ul {
            display: block;
          }
        }

        ul {
          z-index: 99999;
          display: none;
          position: absolute;
          top: $menu-submenu-top;
          box-shadow: $menu-dropdown-shadow;

          li {
            a {
              width: $menu-subitem-width;
              padding-left: $menu-item-padding;
            }

            ul {
              left: 100%;
              top: 0;
            }
          }
        }
        // !== Dropdown Menu on Hover
      }
    }
  }
}
// !== Main Menu

// == Posts and Comments navigation
.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5rem;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
// !== Posts and Comments navigation
