/* == UNDERSKELETON RESET ==
This file resets element styles for underskeleton
*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

blockquote,
dl,
figure,
table,
p,
ul,
ol,
form,
address {
  margin: 0 0 2.5rem;
}

dd {
  margin-bottom: 1rem;
}

acronym {
  border-bottom: 1px dotted;
}