// == SCREEN READERS ONLY STYLES
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  clip: auto !important;
  color: $primary-color;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  height: auto;
  line-height: normal;
  padding: 2rem 2.5rem;
  text-decoration: none;
  top: 5px;
  left: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
