/* == UNDERSKELETON STYLES ==
This file contains underskeleton default styles
*/

blockquote {
  border-left: .3rem solid $border-color;
  padding-left: 1rem;
}

kbd, tt, samp {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: lighten($light-grey, 6.4%);
  border: 1px solid $light-grey;
  border-radius: $global-radius;
}

pre {
  padding: .2rem .5rem;
  font-size: 90%;
  background: lighten($light-grey, 6.4%);
  border: 1px solid $light-grey;
  border-radius: $global-radius;

  > kbd,
  > tt,
  > samp {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
  }
}

// == WordPress Core
.alignnone,
a img.alignnone,
.wp-caption.alignnone { }

// Align Left
.alignleft,
a img.alignleft,
.wp-caption.alignleft {
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

// Align Right
.alignright,
a img.alignright,
.wp-caption.alignright {
  float: right;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

// Align Center
.aligncenter,
a img.aligncenter,
.wp-caption.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

// Caption margins
.wp-caption {
  &.alignleft,
  &.alignright,
  &.aligncenter {
    margin-bottom: 2.5rem;
  }
}

// Caption text
.wp-caption-text,
.gallery-caption {
  background-color: lighten($light-grey, 5%);
  padding: .3rem .5rem;
  font-size: 90%;
}

// !== WordPress Core
