/*------------------------------------*\
  #TEXT MIXINS
\*------------------------------------*/

@mixin light-text() {
  color: #fff;
  
  a {
    color: inherit;

    &.button:hover,
    &.button:active,
    &.button:focus {
      color: inherit;
      border-color: inherit;
      background-color: transparentize(#fff, .8)
    }
  }
}
